@import "app.css";

.grid{
  display:grid;
  margin:2vw;
  grid-gap: 2vw;
  grid-template-columns: 96vw;
  grid-template-rows: auto auto 15vw  auto;
  grid-template-areas:
  "hd"
  "main"
  "sd"
  "ft";
}

.header{
  grid-area:hd;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer{
  grid-area:ft;
  display: inline;
}

.sidebar{
  grid-area:sd;
  justify-content: space-around;
}

.content{
  grid-area:main;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

#sidebar-nav{
  flex-direction: column;
}

.card{
  height:400px;
}

.small{
  font-size: 10px;
}

@media(min-width:900px){
  .grid{
    display:grid;
    height: 100vw;
    margin:2vw;
    grid-template-rows: 15vw auto 15vw;
    grid-template-columns: 10vw 10vw auto;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "main main main main main main sd sd"
    "ft ft ft ft ft ft ft ft";
    grid-gap: 2vw;
  }

  .sidebar{
    justify-content: flex-start;
  }
}

@media(max-width:600px){
  .grid{
    display:grid;
    height:100vh;
    margin:1vw;
    grid-template-columns:98vw;
    grid-template-rows: auto auto 15vh  auto;
    grid-template-areas:
    "hd"
    "main"
    "sd"
    "ft";
  }

  p{
    width: 85vw;
  }

  q{
    width:85vw;
  }

}
