@import "app.css";

.grid{
  display:grid;
  margin:2vw;
  grid-gap: 2vw;
  grid-template-columns: 96vw;
  grid-template-rows: auto auto 15vw  auto;
  grid-template-areas:
  "hd"
  "main"
  "sd"
  "ft";
}

.header{
  grid-area:hd;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer{
  grid-area:ft;
  display: inline;
}

.sidebar{
  grid-area:sd;
}

.content{
  grid-area:main;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}


.card-image-container{
  height:40%;
}
.card-body{
  align-content: flex-start;
  height:60%;
}

.card{
  height:500px;
}

.small{
  font-size: 10px;
}
#sidebar-nav{
  flex-direction: row;
}

@media(min-width:900px){
  .grid{
    display:grid;
    height: 100vw;
    margin:2vw;
    grid-template-rows: 15vw auto 15vw;
    grid-template-columns: 10vw 10vw auto;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "main main main main main main sd sd"
    "ft ft ft ft ft ft ft ft";
    grid-gap: 2vw;
  }

  #sidebar-nav{
    flex-direction: column;
  }
}
