@import "app.css";

.card{
  height:400px;
}

.small{
  font-size: 10px;
  justify:center;
}

@media screen and (max-width: 600px){
  .grid{
    display:grid;
    height:100vh;
    margin:1vw;
    grid-template-columns:98vw;
    grid-template-rows: auto auto 15vh  auto;
    grid-template-areas:
    "hd"
    "main"
    "sd"
    "ft";
  }

  p{
    width: 85vw;
  }

  q{
    width:85vw;
  }
  .content{
    display:block;
  }

  img{
    width: 50vw;
  }

  .card-body{
    display:block;
    justify-content: center;
  }
}
