.box {
  padding: 1em;
  margin: 10 px;
  border: 1 px;
  border-color: #1E5C5C;
  border-radius: 10px;
  background-color: white;
  border-style: solid;
}

.grid{
  display:grid;
  margin:2vw;
  grid-gap: 2vw;
  grid-template-columns: 96vw;
  grid-template-rows: auto 15vh auto 1fr;
  grid-template-areas:
  "hd"
  "sd"
  "main"
  "ft";
}

.header{
  grid-area:hd;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  flex-direction: column;
  background-color:
}

.footer{
  grid-area:ft;

}

.sidebar{
  grid-area:sd;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;

}

.content{
  grid-area:main;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.card{
  margin:.5em;
  width: 18em;
}

.btn{
  background-color:#1E5C5C;
  border-color:#1E5C5C;
}

.btn:hover{
  background-color: #71A870;
}

.card-body{
  background-color: #A8DA88;
}

@media(min-width:900px){
  .grid{
    display:grid;
    margin:1em;
    grid-template-rows: auto auto 1em;
    grid-template-columns: 10em auto;
    grid-template-areas:
    "hd hd"
    "sd main"
    "ft ft";
    grid-gap: 2em;
  }

  .sidebar{
    grid-area:sd;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
  }
}

.nav-link{
  color:#1E5C5C;
}

.nav-link:hover{
  color:#71A870;
}
