body {
  background-color: #add8e6;
  font-family: "Nunito";
}

.box {
  padding: 5 px;
  margin: 5 px;
  border: 1 px;
  border-color: black;
  border-radius: 2 px;
  background-color: white;
  border-style: solid;
}

.grid{
  display:grid;
  margin:2vw;
  grid-gap: 2vw;
  grid-template-columns: 96vw;
  grid-template-rows: 15vw 20vw auto auto;
  grid-template-areas:
  "hd"
  "sd"
  "main"
  "ft";
}

.header{
  grid-area:hd;
}

.footer{
  grid-area:ft;
}

.sidebar{
  grid-area:sd;
}

.content{
  grid-area:main;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


@media(min-width:900px){
  .grid{
    display:grid;
    height: 100vw;
    margin:2vw;
    grid-template-rows: 15vw auto 15vw;
    grid-template-columns: 10vw 10vw auto;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd sd main main main main main main"
    "ft ft ft ft ft ft ft ft";
    grid-gap: 2vw;

  }
}
