body {
  background-color: #add8e6;
  font-family: "Nunito";
}

.box {
  padding: 5 px;
  margin: 5 px;
  border: 1 px;
  border-color: black;
  border-radius: 2 px;
  background-color: white;
  border-style: solid;
}

.grid{
  display: grid;
  grid-template-columns: 300 px auto 300 px;
  grid-template-rows: 250 px auto 250 px;
  grid-gap: 1 em;
  grid-template-areas: "hd hd hd hd hd hd"
                      "sd sd main main main main"
                      "ft ft ft ft ft ft";
}

.header{
  grid-area:hd;
}

.footer{
  grid-area:ft;
}

.sidebar{
  grid-area:sd;
}

.content{
  grid-area:main;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
