body {
  background-color: #2F795D;
  font-family: "Nunito";
  color:#1E5C5C;
}

h6{
  font-style: italic;
}

h1{
  justify-content: center;
}


.box {
  padding: 1em;
  margin: 10 px;
  border: 1 px;
  border-color: #1E5C5C;
  border-radius: 10px;
  background-color: white;
  border-style: solid;
}

.grid{
  display:grid;
  margin:2vw;
  grid-gap: 2vw;
  grid-template-columns: 96vw;
  grid-template-rows: auto auto 15vw  auto;
  grid-template-areas:
  "hd"
  "main"
  "sd"
  "ft";
}

.header{
  grid-area:hd;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer{
  grid-area:ft;
  display: inline;
}

.sidebar{
  grid-area:sd;
}

.content{
  grid-area:main;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card{
  justify-content: center;
  margin: 2em;
}

#sidebar-nav{
  flex-direction: row;
}

@media(min-width:900px){
  .grid{
    display:grid;
    height: 100vw;
    margin:2vw;
    grid-template-rows: 15vw auto 15vw;
    grid-template-columns: 10vw 10vw auto;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "main main main main main main sd sd"
    "ft ft ft ft ft ft ft ft";
    grid-gap: 2vw;
  }

  #sidebar-nav{
    flex-direction: column;
  }
}

.nav-link{
  color:#1E5C5C;
}

.nav-link:hover{
  color:#71A870;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
